body {
  margin: 0;
  padding: 0;
  background: url(../img/bg2.jpg);
  background-size: cover;
  font-family: "Flamenco", cursive;
  overflow-x: hidden;
}
.register {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 400px;
  height: 600px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 30px rgba(56, 248, 255, 0.5);
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
}
.register .logo {
  height: 120px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-120px / 2);
  left: calc(50% - 60px);
}
.register h2 {
  top: calc(70px / 2);
  text-align: center;
}
.register .inputbox {
  position: relative;
}
.register .inputbox input,
select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-family: "Flamenco", cursive;
  text-transform: capitalize;
  color: #ffeb00;
}
.register .inputbox option {
  color: #bf55ec;
  font-family: "Flamenco", cursive;
  font-weight: bold;
}
.register .inputbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  font-weight: bold;
}
.register .inputbox .label {
  top: -18px;
}
.register .inputbox input:focus ~ label,
.register .inputbox input:valid ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
}
.register input[type="submit"] {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 200px;
  padding: 10px 20px;
  margin-left: 50px;
  color: #fff;
  font-family: "Flamenco", cursive;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
.register input[type="submit"]:hover {
  background-color: #bf55ec;
}
.register input[type="reset"] {
  background: transparent;
  border: 1px solid #bf55ec;
  border-radius: 200px;
  padding: 10px 20px;
  margin-left: 20px;
  color: #bf55ec;
  font-family: "Flamenco", cursive;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.register input[type="reset"]:hover {
  background-color: #fff;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------responsive------------------------------------------------------- */
